---
theme :
  name : bootstrap
---
{% include JB/setup %}

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
      Macros: {
        RR: "{\\bf R}",
        norm: ["{\\left\\lVert #1 \\right\\rVert}",1],
        bold: ["{\\bf #1}",1]
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      // inlineMath: [ ['$','$'], ['\(', '\)'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    "HTML-CSS": { scale: 80}
  });
</script>


{% include themes/bootstrap/default.html %}
